.container {
    padding: {
        right: 3.2rem;
        left: 3.2rem;
    }
}

.navbar {
    &--start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &--icon {
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 0.8rem;
    }
    &--end {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &--local {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &::before {
            content: '';
            position: absolute;
            width: 0.5rem;
            height: 180%;
            top: -1rem;
            left: 0;
            background-color: #fff;
        }
    }
}

@media (max-width: 769px) {
    .container {
        padding: {
            right: 1.2rem;
            left: 1.2rem;
        }
    }
    .navbar {
        &--start {
            justify-content: center;
        }
        &--local {
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 1367px) {
    .navbar {
        &--center {
            display: none;
        }
    }
}