.container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    margin: 1rem auto;
    transform: translateX(-50%);
}



.header {
    &--brand {
        margin: auto;
    }

    &--navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    &--contact {
        text-align: end;
        margin: auto;
        &__btn {
            padding: 1rem 2rem;
            background-color: var(--primary-100);
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            &:hover {
                background-color: rgba($color: #676CDB, $alpha: 0.75);
            }
        }
    }
}

@media (max-width: 769px) {
    .header {
        &--navbar {
            order: 2;
            margin-top: 3rem;
        }
    }
}