.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col2 {
    margin: 5rem 10rem 0;
}

.profile {
    background-color: #fff;
    &--navbar {
        padding: {
            right: 1.6rem;
            left: 1.6rem;
        }
    }
    &--content {
        padding: 3.2rem;
        justify-content: space-between;
        &__text {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            padding: {
                top: 1.6rem;
                bottom: 1.6rem;
            }
        }
    }
}

.projects {
    text-align: center;
}

.project {
    display: flex;
    &--button {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 0.8rem;
        transition: all 0.15s ease-in-out;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.075);
        }
        &:focus {
            background-color: rgba($color: #000000, $alpha: 0.075);
        }
    }
    &--icon {
        width: 12rem;
        height: 12rem;
        margin-bottom: 0.8rem;
    }
    margin-bottom: 5rem;
}

.skills {
    background-color: #fff;
    &--navbar {
        padding: {
            right: 1.6rem;
            left: 1.6rem;
        }
    }
    &--content {
        padding: 3.2rem;
    }
    &--icon {
        margin: 1.6rem 0;
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
    border-top: solid 0.2rem #000;
    background-color: #fff;
}

@media (max-width: 769px) {
    .profile {
        &--content {
            padding: 2.4rem;
        }
    }
    .contact {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 1367px) {
    .project {
        justify-content: center;
    }
    .projects {
        margin-top: 2rem;
    }
    .skills {
        order: 1;
        &--content {
            padding: 0.8rem;
        }
        &--icons {
            justify-content: center;
        }
    }
    .col2 {
        margin: 1.6rem 0;
    }
}