.container {
    margin: 17.5rem auto;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: {
        image: url('../apps/images/avatar.jpg');
        repeat: no-repeat;
        size: cover;
        position: 0 75%;
    };
    opacity: 0.75;
}

.profile {
    &--title {
        font: {
            size: 9rem;
            weight: bold;
        }
    }
    &--objective {
        margin: 1rem 0 3rem;
    }
    &--contact {
        display: flex;
    }
    &--mail {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        background-color: var(--primary-100);
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        padding: 2rem 0;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
        }
    }
    &--download {
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            cursor: pointer;
        }
        &__text {
            text-decoration: underline;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            &:hover {
                opacity: 0.75   ;
            }
        }
    }
}

@media (max-width: 1025px) {
    .container {
        margin: 17.5rem 2.5rem 2.5rem;
    }
}