.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-200);
}

.wrapper {
    margin: 10rem auto;
}

.title {
    text-align: center;
}

.projects {
    margin: 1rem 0rem;
    &--item {
        position: relative;
        padding: 0.75rem;
        
        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: var(--primary-200);
                opacity: 0;
                transition: all 0.35s ease-in-out;
            }
            &:hover {
                &+ .projects--item__title {
                    opacity: 1;
                    transform: translateY(0);
                }
                &::after {
                    opacity: 0.5;
                }
                &> .projects--item__thumbnail {
                    transform: scale(1.3);
                }
            }
        }
        &__thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.35s ease-in-out;
        }
        &__title {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            color: var(--text-color);
            opacity: 0;
            transition: all 0.35s ease-in-out;
            transform: translateY(2.5rem);
        }
    }
}

@media (max-width: 1025px) {
    .wrapper {
        margin: 5rem auto;
    }
}

@media (max-width: 769px) {
    .wrapper {
        margin: 2.5rem 1rem;
    }
}