.project {
    background-color: #fff;
    &--navbar {
        padding: {
            right: 1.6rem;
            left: 1.6rem;
        }
    }
    &--content {
        align-items: center;
        padding: 2.4rem;
        &__icon {
            width: 16.8rem;
            height: 16.8rem;
        }
        &__text {
            padding: 0.8rem 0;
        }
    }
    &--button {
        display: flex;
        margin: 0 3.2rem 1.1rem;
        &__close {
            margin-left: auto;
            color: #fff;
            padding: 1.1rem;
            border: solid 0.8rem #000;
            background-color: #000;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 1367px) {
    .project {
        margin: 1.6rem 0;
        &--content {
            text-align: center;
            &__icon {
                display: flex;
                justify-content: center;
            }
        }
    }
}